.review-thumb{
    .casino-name{
        color: var(--color-text);
        font-size: 22px;
        font-family: "Basier Bold";
        text-decoration: none;
        a{
            color: var(--color-text);
            font-size: 22px;
            font-family: "Basier Bold";
            text-decoration: none;
        }
    }
}