@mixin setMaxWidthsWithMarginsLimitedWidth() {
    width: 100%;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: $marginSmall;
    padding-right: $marginSmall;
    @media only screen and (min-width: $media-small) {
        padding-left: $marginLargex;
        padding-right: $marginLargex;
    }
    @media only screen and (min-width: $media-medlarge) {
        padding-left: $marginLargexx;
        padding-right: $marginLargexx;
    }
}

@mixin setMaxWidthsWithMarginsLimitedLargeWidth() {
    width: 100%;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: $marginTiny;
    padding-right: $marginTiny;
    @media only screen and (min-width: $media-small) {
        padding-left: $marginSmallMed;
        padding-right: $marginSmallMed;
    }
    @media only screen and (min-width: $media-medlarge) {
        padding-left: $marginMedLarge;
        padding-right: $marginMedLarge;
    }
}

@mixin setMaxWidthsWithMarginsFullWidth() {
    width: 100%;
    max-width: $maxWidthLarge;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@mixin setMaxWidthsWithMarginsMaxWidth() {
    width: 100%;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@mixin setMaxWidthsWithMarginsLimitedWidthFlexible() {
    width: 100%;
    position: relative;
    padding-left: $marginSmall;
    padding-right: $marginSmall;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: $maxWidthLarge;
    @media only screen and (min-width: $media-small) {
        padding-left: $marginLargex;
        padding-right: $marginLargex;
    }
    @media only screen and (min-width: $media-medlarge) {
        padding-left: $marginLargexx;
        padding-right: $marginLargexx;
    }
    @media only screen and (min-width: $media-largexx) {
        padding-left: 0;
        padding-right: 0;
    }
}
#site-wrapper, .page-container {
    padding-top: var(--main-nav-height);
}
.page-container {
    background-color: var(--color-primary);
    section.featured-image{
        img{
            max-width: 100%;
            width: 100%;
        }
    }
}
.page-wrapper {
    @include setMaxWidthsWithMarginsLimitedWidth();
    background-color: var(--color-primary);
    padding-bottom: var(--space-110);
    h1,h2,h3,h4,h5,h6{
        font-family: 'Basier Bold';
    }
    > h1{
        font-size: var(--fs-60);
        padding-top: var(--space-60);
        padding-bottom: var(--space-44);
    }
    section.featured-image{
        img{
            max-width: 100%;
            margin-top: var(--space-54);
        }
    }
}
.elk-tournament-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: var(--space-44);
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
