section.content{
    .content-container{
        article{
            font-size: var(--fs-18);
            max-width: $media-medsmall;
            a{
                color: var(--color-primary-dark);
                text-decoration: underline;
                &:hover{
                    color: var(--color-primary);
                }
            }
            strong{
                font-family: 'Basier Bold';
            }
            h1,h2,h3,h4,h5,h6{
                font-family: 'Basier Bold';
            }
            h1{
                font-size: var(--fs-66);
                padding-bottom: var();
            }
            h2{
                font-size: var(--fs-48);
                padding-bottom: var(--space-16);
                padding-top: var(--space-8);
            }
            h3{
                font-size: var(--fs-32);
                padding-bottom: var(--space-16);
                padding-top: var(--space-8);
            }
            h4{
                font-size: var(--fs-26);
                padding-bottom: var(--space-25);
            }
            h5{
                font-size: var(--fs-18);
                padding-bottom: var(--space-25);
            }
            h6{
                font-size: var(--fs-14);
                padding-bottom: var(--space-18);
            }
            ul{
                list-style: unset;
                padding-left: var(--space-22);
                max-width: $media-medsmall;
                margin-bottom: var(--space-54);
                li{
                    padding-bottom: var(--space-8);
                }
            }
            figure{
                margin-bottom: var(--space-54);
            }
        }
    }
    &.full-width{
        article{
            max-width: unset;
            p{
                max-width: $media-medsmall;
                margin-bottom: var(--space-40);
                &.full-width{
                    max-width: unset;
                }
                &.highlighted-para{
                    margin-bottom: var(--space-54);
                    a{
                        display: block;
                        margin-bottom: var(--space-25);
                        &:hover{
                            color: var(--color-primary-dark);
                        }
                    }
                }
            }
        }
    }
    &.dark{
        background-color: var(--color-primary);
        article{
            color: var(--color-text);
            a{
                color: var(--color-accent-primary);
                &:hover{
                    color: var(--color-accent-secondary)
                }
            }
        }
    }
}